* {
    margin: 0;
    padding: 0;
}
.head {
    height: 95px;
    background:-webkit-linear-gradient(top,  #ffffff 0%,#e2eefa 100%);

}
.top {
    margin: 0 auto;
    width: 1000px;
    height: 100px;
}
.left {
    margin-top: 2px;
    padding: 10px;
    margin-left: 20px;
    width: 300px;
    float: left;
    text-align: center;
}
.left h1 {
    margin-top: 5px;
    color:#1973a8 ;
    font-size: 35px;
}
.left h4 {
    margin: 5px auto;
    color: #696e72;
    font-size: 15px;
    font-family: 楷体;
}
.right {
    margin: 5px 60px;
    float: right;
}
.right li {
    margin: 10px 5px;
    list-style: none;
    float: left;
    font-size: 13px;
}
.nav {
    height: 40px;
    background-color:#3584c6 ;
    color: #ffffff;
}
.ul {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.ul ul {
    height: 100%;
    float: left;
}
.ul li {
    margin-right: 60px;
    list-style: none;
    font-size: 18px;
    line-height: 40px;
    float: left;
}
.nav-img img {
    margin-top: -25px;
    margin-right: 30px;
    float: right;
}
.find-password {
    padding-top: 15px;
    background:-webkit-linear-gradient(top,  #e2eefa 0%,#ffffff 100%); ;
}
.find {
    margin:0 auto 10px;
    width: 1000px;
    height: 550px;
    background: #ffffff;
    border: 2px solid #eceff1;
}
.find-nav {
    margin: 20px auto;
    padding: 0 15px ;
    height: 35px;
    font-size: 15px;
    border-bottom: 1px dashed #dddddd;
}
.find-way {
    margin-top: 50px;
    margin-left: 200px;
    width: 400px;
}
.find-way .account {
    width: 250px;
    height: 30px;
    padding: 0 10px;
}
.find-way b {
    font-weight: normal;
    color: #f00;
}
.pw-style{
    margin-top: 20px;
    text-align: left;
}
.pw-style input {
    margin:5px 3px ;
}
.pw-style {
    margin-right: 140px;
    margin-top: 20px;
    float: right;
}
.find-way button {
    width: 100px;
    height: 30px;
    background:#dddddd;
    border: 1px solid #61c3f6;
}
.find-way button:hover {
    background: #ebf6fc;
}


.row {
    margin: 25px 0;
}
.col-2,
.col-10 {
    display: inline-block;
    vertical-align: middle;
}
.col-2 {
    width: 100px;
    text-align: right;
}
.radio-label:first-child {
    display: block;
    margin-bottom: 10px;
}



